<!--<div class="header">-->
<!--<ul class="nav nav-pills pull-right">-->
<!--<li class="active"><a ng-href="#">Home</a></li>-->
<!--<li><a ng-href="#">Interested in seeing where this goes?</a></li>-->
<!--</ul>-->
<!--</div>-->

<div class="jumbotron">

    <h1>Are you bored? </h1>
    <h4>Check out what's going on around you!</h4>
</div>
<div ng-controller="MainCtrl">
    <div class="panel-group" id="accordion">
        <div ng-repeat="event in events">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            {{ event.title }}
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        {{ event.description }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="map-canvas"></div>


<div class="footer">
</div>
