<div id="bg" style="background-color: antiquewhite">
    <div style="padding: 20px">
        <ul class="nav nav-pills pull-right">
            <li><a class="btn btn-large btn-success" href="#/signUp"><i class="fa fa-anchor"></i>Follow our project!</a>
            </li>
            <li><a ng-href="#">About</a></li>
        </ul>
    </div>
    <div style="margin-top: 30px; background-color: transparent" class="jumbotron">
        <h1 style="font-size: 45px">Looking for something to do??</h1>
        <h3>Check out what's going on around you!</h3>
    </div>
    <div ng-controller="MainCtrl">
        <div class="myButtons" style="margin: 20px; background-color: floralwhite">
            <div class="container">
                <a ng-click="predicate = ''">ALL</a> |
                <a ng-click="predicate = 'Music'">MUSIC</a> |
                <a ng-click="predicate = 'Festival'">FESTIVAL</a> |
                <a ng-click="predicate = 'Performing Arts'">PERFORMING ARTS</a> |
                <a ng-click="predicate = 'Class'">CLASS</a> |
                <a ng-click="predicate = 'Activity'">ACTIVITY</a> |
                <a ng-click="predicate = 'Show'">SHOW</a> |
                <a ng-click="predicate = 'Sporting Event'">SPORTING EVENT</a> |
                <a ng-click="predicate = 'Talk'">TALK</a> |
                <a ng-click="predicate = 'Art & Literature'">ART & LITERATURE</a></div>
        </div>


        <div class="panel-group" id="accordion">
            <div ng-repeat="event in events | filter: predicate">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion"
                               href="#collapse{{ event.id.toString() }}">
                                {{ event.title }} | {{ parser(event.start) | date:'MM/dd/yyyy @ h:mma' }} | {{
                                parser(event.end) | date:'MM/dd/yyyy @ h:mma' }}
                            </a>
                        </h4>
                    </div>
                    <div id="collapse{{ event.id.toString() }}" class="panel-collapse collapse">
                        <div class="panel-body">
                            {{ event.description }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="footer">
</div>
